<nav class="navbar-wrapper navbar-default navbar-fixed-top" role="navigation">
	<div class="container-fluid header">
		<div class="row">
			<div class="navbar-header col-xs-1 col-sm-1 col-md-1">
				<a class="navbar-brand" href="#"><img class="image-responsive img-circle logo-home" src="img/laforet-small.jpg"></a>
			</div>

			<div class="col-xs-11 col-sm-11 col-md-11" style="">

				<!-- will collapse -->
				<div id="navbarToCollapse" class="collapse navbar-collapse" style="">
					<ul class="nav navbar-nav col-lg-9 col-md-8" style="">
						<li class="navbar-link col-md-3 col-sm-3" show-on-top pos={{header.positions[3]}}><a id="navbar-link-text" href="#part-forum">Forum</a></li>
						<li class="navbar-link col-md-3 col-sm-3" show-on-top pos={{header.positions[0]}}><a id="navbar-link-text" href="#part-game">Game</a></li>
						<li class="navbar-link col-md-3 col-sm-3" show-on-top pos={{header.positions[1]}}><a id="navbar-link-text" href="#part-team">Team</a></li>
						<li class="navbar-link col-md-3 col-sm-3" show-on-top pos={{header.positions[2]}}><a id="navbar-link-text" href="#part-contact">Contact</a></li>
					</ul>
					<div ui-view="user" style="padding: 10px" class="pull-right">
						<button class="btn btn-success" ui-sref="app.signin" id="navbar-link-text">Sign</button>
						<button class="btn btn-primary" ui-sref="app.join" id="navbar-link-text">Join</button>
					</div>
				</div>

				<!-- collapsed will be replaced with this -->
				<div style="" class="btn-group pull-right" dropdown>
					<button type="button" class="navbar-toggle collapsed" dropdown-toggle>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<div class="dropdown-menu">
						<ul ui-view="user-toggled">
							<li><a href="" ui-sref="app.signin">Sign In</a></li>
							<li><a ui-sref="app.join">Join</a></li>
						</ul>
						<li class="divider"></li>
						<li><a href="">Link1</a></li>
						<li><a href="">Link2</a></li>
						<li><a href="">Link3</a></li>
						<li><a href="">Link4</a></li>
					</div>
				</div>

			</div>

		</div>
	</div>
</nav>

