<div id="part-game" class="container-fluid content game">
	<h2 class="text-center">The Game</h2></br>
	<div class="row">
		<div class="col-md-offset-1 col-md-3" style="text-align: justify"><p>Battle Paris est un jeu de capture de zone dans Paris via géolocalisation, à la manière d’un Risk ou d’un Touché-Coulé grandeur nature.</br></br>

	Choisissez votre camp, prenez le contrôle de votre quartier avec vos amis, gagnez des médailles et faites exploser vos adversaires sur les mines que vous aurez posées !</br></br>

	Paris est divisé en 6 armées, les villages anciennement annexés par Paris reprennent leur droit. En plus de Lutèce (les 7 premiers arrondissements), Montmartre, Belleville, Bercy, Montparnasse et Chaillot se disputent le contrôle des 140 quartiers de la capitale. S’y ajoute les 4 armées de banlieue, La Plaine au nord, La Forêt à l’est, Les Roses au sud et La Défense à l’ouest.</br></br>

	Le but du jeu est de conquérir des quartiers pour le compte de son armée afin d’agrandir son territoire et de gagner la bataille de Paris à la fin de la saison.</br></br>

	Les quartiers se conquièrent en se localisant (checkin) à l’aide de l’application mobile. Chaque checkin rapporte 1 point à son armée pour le quartier en question et l’armée ayant marqué le plus de points en prend le contrôle... du moins provisoirement.</p>
		</div>


		<div class="col-md-offset-2 col-md-4">
			<carousel interval="5000">
				<slide ng-repeat="slide in game.slides">
					<img ng-src="{{slide}}" style="margin: auto">
				</slide>
			</carousel>
		</div>
	</div>
</div>
