<div>
	<div class="panel panel-success" style="margin: 0px">
		<button class="btn btn-success btn-xs pull-right" ng-click="cancel()"><span class="glyphicon glyphicon-remove"></span></button>

		<div class="panel-heading">
			<div class="panel-title text-center">Sign In</div>
		</div>
		<div class="panel-body">
			<form class="form-horizontal" ng-submit="logUser(userData)">
				<div style="margin-bottom: 20px">
					<input class="form-control" type="text" ng-model="userData.nickname" placeholder="Your nickname" required>
				</div>
				<div style="margin-bottom: 20px">
					<input class="form-control" type="password" ng-model="userData.password" placeholder="Your password" required>
				</div>
				<div>
					<button type="submit" class="btn btn-success btn-block">Sign In</button>
				</div>
			</form>
			<div ng-click="forgottenPwd()"><a href="">Forgot your password?</a></div>
		</div>
	</div>
</div>
