<div class="container-fluid content" id="1" style="text-align: center">
	<table class="table dashboard">
		<tr><h3>Users</h3></tr>
		<tr>
			<td><h4>ID</h4></td>
			<td><h4>Nickname</h4></td>
			<td><h4>Role</h4></td>
			<td><h4>Email</h4></td>
			<td></td>
		</tr>
		<tr ng-repeat="user in users">
			<td>{{user._id}}</td>
			<td>{{user.nickname}}</td>
			<td>{{user.role}}</td>
			<td>{{user.email}}</td>
			<td>
				<div class="btn-group">
					<button type="button" class="btn btn-success" ng-click="modifyUser(user)">Modify</button>
				</div>
				<div class="btn-group">
					<button type="button" class="btn btn-danger" ng-click="deleteUser(user._id)">Delete</button>
				</div>
			</td>
		</tr>
	</table>
</div>
