<div>
	<div class="panel panel-success" style="margin-bottom: 0px">
		<button class="btn btn-success btn-xs pull-right" ng-click="cancel()"><span class="glyphicon glyphicon-remove"></span></button>

		<div class="panel-heading">
			<div class="panel-title text-center">Profile</div>
		</div>
		<div class="panel-body">
			<accordion close-others="oneAtATime">
				<accordion-group heading="Change your password">
					<form class="form-horizontal" ng-submit="changePassword(oldPwd, newPwd, newPwdRep)">
						<div style="margin-bottom: 20px">
							<input class="form-control" type="password" ng-model="oldPwd" placeholder="Your old password">
						</div>
						<div style="margin-bottom: 20px">
							<input class="form-control" type="password" ng-model="newPwd" placeholder="Your new password">
						</div>
						<div style="margin-bottom: 20px">
							<input class="form-control" type="password" ng-model="newPwdRep" placeholder="Please, repeat your new password">
						</div>
						<div>
							<button type="submit" class="btn btn-success btn-block">Change</button>
						</div>
					</form>
				</accordion-group>
				<accordion-group heading="Change your profile picture">
				</accordion-group>
			</accordion>
		</div>
	</div>
</div>
